# Java output
**/target/*

# C# output
**/bin/*
**/obj/*    
/packages/

# IntelliJ IDEA 
**/.idea/*
*.iml
**/.gradle/*
**/gradle/*
gradlew
gradlew.bat
**/build/*

# Visual Studio
**/.vs/*

# Visual Studio Code
**/.vscode/*
**/.classpath
**/.project
**/.settings/*
